<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>About</title>
  <meta name="description" content="About page.">
  <meta name="author" content="Muhammad Abd-Elsattar">

  <link rel="icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="https://use.typekit.net/doc6hev.css">
  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <!-- your content here... -->
    {{> header }}
    <div class="main">
      <h1>{{ title }}</h1>
    </div>
    {{> footer }}
    
    <script src="js/scripts.js"></script>
</body>
</html>