<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>404</title>
  <meta name="description" content="404">
  <meta name="author" content="Muhammad Abd-Elsattar">


  <link rel="icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="https://use.typekit.net/doc6hev.css">
  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <!-- your content here... -->
    {{> header }}
    <div class="main">
        <img src="https://i.pinimg.com/originals/0e/c0/db/0ec0dbf1e9a008acb9955d3246970e15.gif" style="width: 300px;">
        <h3>{{ error }}</h3>
    </div>
    {{> footer }}

    <script src="js/scripts.js"></script>
</body>
</html>