<div class="header">
    <div class="nav-header">
        <h1><a href="/">Weather</a></h1>
    </div>
    <div class="nav-links" >
        <a href="/help">Help</a> 
        <a href="/about">About</a> 
    </div>
</div>