<div class="header">
    <div class="header">
        <h1 id="head">37ยบ</h1>
        <p id="location">Cairo, Egypt.</p>
    </div>
    {{!-- <div class="nav-links" >
        <a href="/help">Help</a> 
        <a href="/about">About</a> 
    </div> --}}
</div>