*{
    background-color: #F2F6FF !important;
    color: #11001C !important;
    font-family: roc-grotesk, sans-serif !important;
}
body{
    text-align: center;
    display: flex;
    flex-direction: column;
}
/* .header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
}
#head{
    font-size: 10rem;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
} */
/* .nav-links a{
    padding: .5em;
} */
/* .head{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
.main {
    margin: auto 0;
    background-color: yellow !important;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.info{
    height: min-content;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.temp-loc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.temp-loc h1{
    font-size: 10em;
    margin: 0;
}
.temp-loc p {
    font-size: 1.3em;
    font-weight: 200;
    text-align: center;    
}
.form{
    margin: auto 0;
}
.forecast{
    margin: 1em;
}
.forecast .col-sm-3{
    width: fit-content;
    margin: .5em 0;
    background-color: transparent !important;
}
.forecast .card{
    border: 0;
    text-align: center;
}
.info-img{
    text-align: center;
}
.info-img img{
    width: 70%;
}
.main input {
    border: 1px solid grey;
    border-radius: 0%;
    outline: none;
    padding: .8em;
}
.main button {
    border: 1px solid grey;
    border-radius: 0%;
    outline: none;
    padding: .8em;
}
.footer{
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}