*{
    background-color: #4a5a93;
    color: white;
    font-family: 'Roboto Mono', monospace;
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em;
    height: 80%;
    width: 50%;
}
.temperature-location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.temperature-location h1{
    font-size: 9em;
}
.temperature-location p{
    font-size: 1.5em;
}
.info form input{
    font-size: 1.2em;
    padding: .7em;
    border: 1px solid #233356;
    outline: none;
}
.info form button{
    font-size: 1.2em;
    padding: .7em;
    border: 1px solid #233356;
    background-color: #233356;
    color: white;
    outline: none;
}
::placeholder{
    color: #dbdbdb;
    opacity: .5;
}
.info-image{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-image img{
    width: 100%;
}
.weather-data{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.weather-data div{
    font-size: 1.8em;
    margin: .4em;
}
.weather-data div span{
    font-size: .65em;
}

@media only screen and (max-width: 778px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .info{
        width: 80%;
        display: flex;
    }
    .info-image{
        width: 70%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-image img{
        width: 80%;
    }
    .temperature-location{
        margin: 1em;
    }
    .temperature-location h1{
        font-size: 7em !important;
    }
    .temperature-location p{
        font-size: 1.2em;
    }
    .info form input{
        font-size: 1.2em;
        padding: .7em;
        border: 1px solid #233356;
        outline: none;
    }
    .info form button{
        font-size: 1.2em;
        padding: .7em;
        border: 1px solid #233356;
        background-color: #233356;
        color: white;
        outline: none;
    }
    .weather-data div{
        font-size: 1.4em;
        margin: 1.2em;
    }
}
@media only screen and (max-width: 486px) {
    .info{
        width: 90%;
        display: flex;
    }
    .temperature-location{
        margin: .3em;
    }
    .temperature-location h1{
        font-size: 6em !important;
    }
    .temperature-location p{
        font-size: 1.2em;
    }
    .info form input{
        font-size: 1em;
        padding: .5em;
        border: 1px solid #233356;
        outline: none;
    }
    .info form button{
        font-size: 1em;
        padding: .5em;
        border: 1px solid #233356;
        background-color: #233356;
        color: white;
        outline: none;
    }
    .weather-data div{
        font-size: 1.2em;
        margin: .6em;
    }
}
  